<div class="container" style="background-color: #FFFFFF;">
    <div class="d-flex justify-content-between mb-3" style="color: #A6AC63;">
        <div class="p-2">
            <h5>Upcoming Activies</h5>
        </div>

        <div class="p-2">
            <span id="plusSign" (click)="openModal(template)" style="cursor: pointer;">+</span>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div *ngFor="let item of detailsArr; let i = index">
        <div class="d-flex justify-content-between mb-3">
            <div class="p-2" style="flex: 50%;">
                <table>
                    <tr>
                        <td>
                            <h5>{{item.fullName}}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #C9C9C9;
                    font-size: .8em;
                    font-weight: 600;">{{item.dateOfBirth}} | {{item.nikName}}</td>
                    </tr>
                </table>
            </div>
            <div class="p-2" style="flex: 20%;">
                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: right;">
                            <p class="isShow{{i}} isShow" style="float: right;">
                                <span id="tickSign"><i class="fa fa-check" aria-hidden="true"></i></span>

                            </p>
                        </td>
                        <td style="text-align: right;">
                            <i class="fa fa-ellipsis-v" style="font-size: 26px; color: #BBB938;" aria-hidden="true" mat-button [matMenuTriggerFor]="menu"></i>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="markAsDone(i)">Marks as Done</button>
                                <button mat-menu-item (click)="delete(i)">Delete</button>
                            </mat-menu>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>

    <!-- Modal start -->
    <ng-template #template>
        <div id="closeModal">
            <div class="" style="color: white;background-color: #BDBA35;">
                <div class="d-flex justify-content-between mb-2">
                    <div class="p-2">
                        <h6>Book Visit</h6>
                    </div>
                    <div class="p-2">
                        <i class="fa fa-times" aria-hidden="true" (click)="closeModal()"></i>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Date of Birth</label>
                        <div class="input-group">
                            <span class="input-group-addon trigger" [owlDateTimeTrigger]="issuedate">
                        <i class="fa fa-calendar"></i>
                      </span>
                            <input style="display: block;visibility: hidden;position: absolute;">
                            <owl-date-time [pickerType]="'calendar'" #issuedate class="datepicker" style="z-index:999"></owl-date-time>
                            <input type="text" class="form-control no-bg issueDatePick datepicker" name="issuedate" autocomplete="off" (ngModelChange)="issueDateChange()" [(ngModel)]="detailsObj.dateOfBirth" placeholder="Date of Birth" [owlDateTimeTrigger]="issuedate" [owlDateTime]="issuedate"
                                required autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Full Name</label>
                        <input type="text" class="form-control" name="fullname" placeholder="Full Name" [(ngModel)]="detailsObj.fullName" required autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Nick Name</label>
                        <input type="text" class="form-control" name="nickname" placeholder="Nick Name" [(ngModel)]="detailsObj.nikName" required autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse">
                <div class="p-2">
                    <button class="btn" style="color: white; background-color: #726A16;" (click)="add()" [disabled]="!detailsObj.nikName || !detailsObj.fullName || !detailsObj.dateOfBirth">
                  Save</button>
                </div>
                <div class="p-2">
                    <button class="btn" style="background-color: white; border: 1px solid #CDCEB7;
                    color: #CDCEB7;" (click)="closeModal()">
                  Cancel
                   </button>
                </div>
            </div>
        </div>
    </ng-template>
    <!-- Modal end -->

</div>
